
html,body{
    height: 100vh;
}

.left-side{
    height:100% !important;
    border-right: 1px solid black;
}



.bottom-toolbar{
    margin-top: auto;
}

.technology-icn{
    width: 30px;
    height: 30px;
}




/* CSS for mobile devices */
@media only screen and (max-width: 767px) {
    /* Add your CSS code for mobile devices here */
    .editor-pc{
        display: none;
    }

    .editor-mobile{
        display: block;
    }


}

/* CSS for larger devices */
@media only screen and (min-width: 768px) {
    /* Add your CSS code for larger devices here */

    .editor-pc{
        display: block;
    }

    .editor-mobile{
        display: none;
    }
}